<html>
    <head>
        <title>The Blog about Happiness and Sociology</title>
    </head>
    <body>
        <div>
            <h1><a href="">IT-Sociologist</a></h1>
        </div>


        <div>
            <p>published: 17.04.2016, 16:56</p>
            <h2><a href="">Die Zeit fur wissenschaftliche Sonntag</a></h2>
            <p>Ich freue mich sehr uber diese Moglichkeit neue Kenntnise zu bekommen.</p>
        </div>


        <div>
            <p>published: 20.05.2016, 18:45</p>
            <h2><a href="">Und welche deine zukunftige Beruf?</a></h2>
            <p>Viele junge Leute haben grosse Angst vor seine Platz im Gesellschaft. Erchwasene Leben sie stellen sich vor wie Ende der Erde, while haben schwache Schance viele Geld zu becommen in erste Jahre seiner Karrier.</p>
        </div>
    </body>
</html>

